.my-card {
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: #fff;
    border-radius: 8px;
}

.my-card p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.my-card * + * {
    margin-top: 8px;
}

.my-card__icon {
    width: 32px;
}

.my-card__title {
    font-size: 22px;
    font-weight: 600;
}

.my-card__description {}

.my-card__link {
    margin-left: auto;
}